## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

Giovanni Rosati (Part-time pacing)

Instructor: Jeff Herman

Blog URL:

# Module 3 Final Project

Citation requested:

Kelwin Fernandes, Jaime S. Cardoso, and Jessica Fernandes. 'Transfer Learning with Partial Observability Applied to Cervical Cancer Screening.' Iberian Conference on Pattern Recognition and Image Analysis. Springer International Publishing, 2017.

Dataset link: https://archive.ics.uci.edu/ml/datasets/Cervical+cancer+%28Risk+Factors%29#

In [1]:
# needed imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats

%matplotlib inline

In [2]:
# added this cell to look at the data before converting ? values to NaN
df_test = pd.read_csv('risk_factors_cervical_cancer.csv')

for column in df_test.columns:
    print('Unique values and count in {}'.format(column))
    print(pd.value_counts(df_test[column].values))

Unique values and count in Age
23    54
18    50
21    46
20    45
19    44
24    39
25    39
26    38
28    37
30    35
17    35
29    33
27    33
22    30
35    29
33    28
31    27
36    24
34    24
16    23
15    21
32    18
37    17
41    13
40    12
39     9
38     9
45     6
44     6
42     6
43     5
14     5
46     3
48     2
49     2
52     2
70     2
84     1
79     1
47     1
50     1
51     1
59     1
13     1
dtype: int64
Unique values and count in Number of sexual partners
2.0     272
3.0     208
1.0     206
4.0      78
5.0      44
?        26
6.0       9
7.0       7
8.0       4
28.0      1
15.0      1
10.0      1
9.0       1
dtype: int64
Unique values and count in First sexual intercourse
15.0    163
17.0    151
18.0    137
16.0    121
14.0     79
19.0     60
20.0     37
13.0     25
21.0     20
22.0      9
23.0      9
?         7
26.0      7
27.0      6
24.0      6
12.0      6
29.0      5
28.0      3
25.0      2
10.0      2
11.0      2
32.0      1
dtype: int64
Unique values and count in Num of pregnancies
1.0     270
2.0     240
3.0     139
4.0      74
?        56
5.0      35
6.0      18
0.0      16
7.0       6
8.0       2
10.0      1
11.0      1
dtype: int64
Unique values and count in Smokes
0.0    722
1.0    123
?       13
dtype: int64
Unique values and count in Smokes (years)
0.0            722
1.266972909     15
?               13
5.0              9
9.0              9
1.0              8
3.0              7
2.0              7
8.0              6
7.0              6
16.0             6
11.0             5
10.0             5
4.0              5
6.0              4
15.0             4
14.0             4
0.5              3
19.0             3
12.0             3
13.0             3
22.0             2
32.0             1
20.0             1
34.0             1
37.0             1
18.0             1
21.0             1
28.0             1
0.16             1
24.0             1
dtype: int64
Unique values and count in Smokes (packs/year)
0.0             722
0.5132021277     18
?                13
1.0               6
3.0               5
0.75              4
0.05              4
0.2               4
2.0               4
1.2               4
6.0               3
12.0              3
0.1               3
5.0               3
7.0               2
0.04              2
0.8               2
2.8               2
9.0               2
1.35              2
1.4               2
4.5               2
3.5               2
0.16              2
2.4               2
1.6               2
8.0               2
4.0               1
1.3               1
0.37              1
               ...
5.7               1
0.9               1
1.25              1
0.7               1
0.32              1
0.3               1
0.15              1
19.0              1
3.4               1
4.8               1
0.25              1
37.0              1
2.5               1
2.6               1
22.0              1
0.003             1
5.5               1
2.1               1
15.0              1
0.5               1
7.6               1
2.75              1
7.5               1
2.25              1
0.001             1
1.65              1
0.025             1
2.7               1
0.4               1
2.2               1
Length: 63, dtype: int64
Unique values and count in Hormonal Contraceptives
1.0    481
0.0    269
?      108
dtype: int64
Unique values and count in Hormonal Contraceptives (years)
0.0            269
?              108
1.0             77
0.25            41
2.0             40
3.0             39
5.0             34
0.08            25
0.5             25
6.0             24
4.0             22
7.0             21
8.0             18
0.16            16
9.0             12
10.0            11
0.33             9
0.42             8
0.75             7
0.58             6
15.0             6
0.66             6
20.0             4
12.0             4
1.5              3
2.282200521      2
11.0             2
13.0             2
14.0             2
16.0             2
19.0             2
0.67             2
17.0             1
22.0             1
6.5              1
2.5              1
30.0             1
3.5              1
4.5              1
0.17             1
0.41             1
dtype: int64
Unique values and count in IUD
0.0    658
?      117
1.0     83
dtype: int64
Unique values and count in IUD (years)
0.0     658
?       117
3.0      11
2.0      10
5.0       9
1.0       8
8.0       7
7.0       7
4.0       5
6.0       5
11.0      3
0.5       2
0.08      2
19.0      1
0.33      1
9.0       1
0.58      1
0.41      1
10.0      1
15.0      1
1.5       1
17.0      1
0.25      1
0.16      1
12.0      1
0.17      1
0.91      1
dtype: int64
Unique values and count in STDs
0.0    674
?      105
1.0     79
dtype: int64
Unique values and count in STDs (number)
0.0    674
?      105
2.0     37
1.0     34
3.0      7
4.0      1
dtype: int64
Unique values and count in STDs:condylomatosis
0.0    709
?      105
1.0     44
dtype: int64
Unique values and count in STDs:cervical condylomatosis
0.0    753
?      105
dtype: int64
Unique values and count in STDs:vaginal condylomatosis
0.0    749
?      105
1.0      4
dtype: int64
Unique values and count in STDs:vulvo-perineal condylomatosis
0.0    710
?      105
1.0     43
dtype: int64
Unique values and count in STDs:syphilis
0.0    735
?      105
1.0     18
dtype: int64
Unique values and count in STDs:pelvic inflammatory disease
0.0    752
?      105
1.0      1
dtype: int64
Unique values and count in STDs:genital herpes
0.0    752
?      105
1.0      1
dtype: int64
Unique values and count in STDs:molluscum contagiosum
0.0    752
?      105
1.0      1
dtype: int64
Unique values and count in STDs:AIDS
0.0    753
?      105
dtype: int64
Unique values and count in STDs:HIV
0.0    735
?      105
1.0     18
dtype: int64
Unique values and count in STDs:Hepatitis B
0.0    752
?      105
1.0      1
dtype: int64
Unique values and count in STDs:HPV
0.0    751
?      105
1.0      2
dtype: int64
Unique values and count in STDs: Number of diagnosis
0    787
1     68
2      2
3      1
dtype: int64
Unique values and count in STDs: Time since first diagnosis
?       787
1.0      15
3.0      10
2.0       9
4.0       6
7.0       5
5.0       4
16.0      4
8.0       3
6.0       3
19.0      2
11.0      2
21.0      2
18.0      1
10.0      1
9.0       1
12.0      1
22.0      1
15.0      1
dtype: int64
Unique values and count in STDs: Time since last diagnosis
?       787
1.0      17
2.0      10
3.0       9
4.0       6
7.0       5
16.0      4
8.0       3
6.0       3
5.0       3
11.0      2
21.0      2
19.0      1
18.0      1
10.0      1
9.0       1
12.0      1
22.0      1
15.0      1
dtype: int64
Unique values and count in Dx:Cancer
0    840
1     18
dtype: int64
Unique values and count in Dx:CIN
0    849
1      9
dtype: int64
Unique values and count in Dx:HPV
0    840
1     18
dtype: int64
Unique values and count in Dx
0    834
1     24
dtype: int64
Unique values and count in Hinselmann
0    823
1     35
dtype: int64
Unique values and count in Schiller
0    784
1     74
dtype: int64
Unique values and count in Citology
0    814
1     44
dtype: int64
Unique values and count in Biopsy
0    803
1     55
dtype: int64

In [3]:
# load the dataset as a Pandas dataframe
df_import = pd.read_csv('risk_factors_cervical_cancer.csv', na_values="?")

In [4]:
df_import.columns

Index(['Age', 'Number of sexual partners', 'First sexual intercourse',
       'Num of pregnancies', 'Smokes', 'Smokes (years)', 'Smokes (packs/year)',
       'Hormonal Contraceptives', 'Hormonal Contraceptives (years)', 'IUD',
       'IUD (years)', 'STDs', 'STDs (number)', 'STDs:condylomatosis',
       'STDs:cervical condylomatosis', 'STDs:vaginal condylomatosis',
       'STDs:vulvo-perineal condylomatosis', 'STDs:syphilis',
       'STDs:pelvic inflammatory disease', 'STDs:genital herpes',
       'STDs:molluscum contagiosum', 'STDs:AIDS', 'STDs:HIV',
       'STDs:Hepatitis B', 'STDs:HPV', 'STDs: Number of diagnosis',
       'STDs: Time since first diagnosis', 'STDs: Time since last diagnosis',
       'Dx:Cancer', 'Dx:CIN', 'Dx:HPV', 'Dx', 'Hinselmann', 'Schiller',
       'Citology', 'Biopsy'],
      dtype='object')

In [5]:
for column in df_import.columns:
    print(column)

Age
Number of sexual partners
First sexual intercourse
Num of pregnancies
Smokes
Smokes (years)
Smokes (packs/year)
Hormonal Contraceptives
Hormonal Contraceptives (years)
IUD
IUD (years)
STDs
STDs (number)
STDs:condylomatosis
STDs:cervical condylomatosis
STDs:vaginal condylomatosis
STDs:vulvo-perineal condylomatosis
STDs:syphilis
STDs:pelvic inflammatory disease
STDs:genital herpes
STDs:molluscum contagiosum
STDs:AIDS
STDs:HIV
STDs:Hepatitis B
STDs:HPV
STDs: Number of diagnosis
STDs: Time since first diagnosis
STDs: Time since last diagnosis
Dx:Cancer
Dx:CIN
Dx:HPV
Dx
Hinselmann
Schiller
Citology
Biopsy

In [6]:
df_import.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858 entries, 0 to 857
Data columns (total 36 columns):
Age                                   858 non-null int64
Number of sexual partners             832 non-null float64
First sexual intercourse              851 non-null float64
Num of pregnancies                    802 non-null float64
Smokes                                845 non-null float64
Smokes (years)                        845 non-null float64
Smokes (packs/year)                   845 non-null float64
Hormonal Contraceptives               750 non-null float64
Hormonal Contraceptives (years)       750 non-null float64
IUD                                   741 non-null float64
IUD (years)                           741 non-null float64
STDs                                  753 non-null float64
STDs (number)                         753 non-null float64
STDs:condylomatosis                   753 non-null float64
STDs:cervical condylomatosis          753 non-null float64
STDs:vaginal condylomatosis           753 non-null float64
STDs:vulvo-perineal condylomatosis    753 non-null float64
STDs:syphilis                         753 non-null float64
STDs:pelvic inflammatory disease      753 non-null float64
STDs:genital herpes                   753 non-null float64
STDs:molluscum contagiosum            753 non-null float64
STDs:AIDS                             753 non-null float64
STDs:HIV                              753 non-null float64
STDs:Hepatitis B                      753 non-null float64
STDs:HPV                              753 non-null float64
STDs: Number of diagnosis             858 non-null int64
STDs: Time since first diagnosis      71 non-null float64
STDs: Time since last diagnosis       71 non-null float64
Dx:Cancer                             858 non-null int64
Dx:CIN                                858 non-null int64
Dx:HPV                                858 non-null int64
Dx                                    858 non-null int64
Hinselmann                            858 non-null int64
Schiller                              858 non-null int64
Citology                              858 non-null int64
Biopsy                                858 non-null int64
dtypes: float64(26), int64(10)
memory usage: 241.4 KB

In [7]:
df_import.isna().sum()

Age                                     0
Number of sexual partners              26
First sexual intercourse                7
Num of pregnancies                     56
Smokes                                 13
Smokes (years)                         13
Smokes (packs/year)                    13
Hormonal Contraceptives               108
Hormonal Contraceptives (years)       108
IUD                                   117
IUD (years)                           117
STDs                                  105
STDs (number)                         105
STDs:condylomatosis                   105
STDs:cervical condylomatosis          105
STDs:vaginal condylomatosis           105
STDs:vulvo-perineal condylomatosis    105
STDs:syphilis                         105
STDs:pelvic inflammatory disease      105
STDs:genital herpes                   105
STDs:molluscum contagiosum            105
STDs:AIDS                             105
STDs:HIV                              105
STDs:Hepatitis B                      105
STDs:HPV                              105
STDs: Number of diagnosis               0
STDs: Time since first diagnosis      787
STDs: Time since last diagnosis       787
Dx:Cancer                               0
Dx:CIN                                  0
Dx:HPV                                  0
Dx                                      0
Hinselmann                              0
Schiller                                0
Citology                                0
Biopsy                                  0
dtype: int64

In [8]:
for column in df_import.columns:
    print('Unique values in {}'.format(column))
    values_list = df_import[column].unique()
    values_list.sort()
    print (values_list)

Unique values in Age
[13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 59 70 79 84]
Unique values in Number of sexual partners
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 15. 28. nan]
Unique values in First sexual intercourse
[10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26. 27.
 28. 29. 32. nan]
Unique values in Num of pregnancies
[ 0.  1.  2.  3.  4.  5.  6.  7.  8. 10. 11. nan]
Unique values in Smokes
[ 0.  1. nan]
Unique values in Smokes (years)
[ 0.          0.16        0.5         1.          1.26697291  2.
  3.          4.          5.          6.          7.          8.
  9.         10.         11.         12.         13.         14.
 15.         16.         18.         19.         20.         21.
 22.         24.         28.         32.         34.         37.
         nan]
Unique values in Smokes (packs/year)
[0.00000000e+00 1.00000000e-03 3.00000000e-03 2.50000000e-02
 4.00000000e-02 5.00000000e-02 1.00000000e-01 1.50000000e-01
 1.60000000e-01 2.00000000e-01 2.50000000e-01 3.00000000e-01
 3.20000000e-01 3.70000000e-01 4.00000000e-01 4.50000000e-01
 5.00000000e-01 5.13202128e-01 7.00000000e-01 7.50000000e-01
 8.00000000e-01 9.00000000e-01 1.00000000e+00 1.20000000e+00
 1.25000000e+00 1.30000000e+00 1.35000000e+00 1.40000000e+00
 1.60000000e+00 1.65000000e+00 2.00000000e+00 2.10000000e+00
 2.20000000e+00 2.25000000e+00 2.40000000e+00 2.50000000e+00
 2.60000000e+00 2.70000000e+00 2.75000000e+00 2.80000000e+00
 3.00000000e+00 3.30000000e+00 3.40000000e+00 3.50000000e+00
 4.00000000e+00 4.50000000e+00 4.80000000e+00 5.00000000e+00
 5.50000000e+00 5.70000000e+00 6.00000000e+00 7.00000000e+00
 7.50000000e+00 7.60000000e+00 8.00000000e+00 9.00000000e+00
 1.20000000e+01 1.50000000e+01 1.90000000e+01 2.10000000e+01
 2.20000000e+01 3.70000000e+01            nan]
Unique values in Hormonal Contraceptives
[ 0.  1. nan]
Unique values in Hormonal Contraceptives (years)
[ 0.          0.08        0.16        0.17        0.25        0.33
  0.41        0.42        0.5         0.58        0.66        0.67
  0.75        1.          1.5         2.          2.28220052  2.5
  3.          3.5         4.          4.5         5.          6.
  6.5         7.          8.          9.         10.         11.
 12.         13.         14.         15.         16.         17.
 19.         20.         22.         30.                 nan]
Unique values in IUD
[ 0.  1. nan]
Unique values in IUD (years)
[ 0.    0.08  0.16  0.17  0.25  0.33  0.41  0.5   0.58  0.91  1.    1.5
  2.    3.    4.    5.    6.    7.    8.    9.   10.   11.   12.   15.
 17.   19.     nan]
Unique values in STDs
[ 0.  1. nan]
Unique values in STDs (number)
[ 0.  1.  2.  3.  4. nan]
Unique values in STDs:condylomatosis
[ 0.  1. nan]
Unique values in STDs:cervical condylomatosis
[ 0. nan]
Unique values in STDs:vaginal condylomatosis
[ 0.  1. nan]
Unique values in STDs:vulvo-perineal condylomatosis
[ 0.  1. nan]
Unique values in STDs:syphilis
[ 0.  1. nan]
Unique values in STDs:pelvic inflammatory disease
[ 0.  1. nan]
Unique values in STDs:genital herpes
[ 0.  1. nan]
Unique values in STDs:molluscum contagiosum
[ 0.  1. nan]
Unique values in STDs:AIDS
[ 0. nan]
Unique values in STDs:HIV
[ 0.  1. nan]
Unique values in STDs:Hepatitis B
[ 0.  1. nan]
Unique values in STDs:HPV
[ 0.  1. nan]
Unique values in STDs: Number of diagnosis
[0 1 2 3]
Unique values in STDs: Time since first diagnosis
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 15. 16. 18. 19. 21. 22.
 nan]
Unique values in STDs: Time since last diagnosis
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 15. 16. 18. 19. 21. 22.
 nan]
Unique values in Dx:Cancer
[0 1]
Unique values in Dx:CIN
[0 1]
Unique values in Dx:HPV
[0 1]
Unique values in Dx
[0 1]
Unique values in Hinselmann
[0 1]
Unique values in Schiller
[0 1]
Unique values in Citology
[0 1]
Unique values in Biopsy
[0 1]

In [9]:
# copy the import to a new dataframe
df = df_import

In [10]:
df.isna().sum()

Age                                     0
Number of sexual partners              26
First sexual intercourse                7
Num of pregnancies                     56
Smokes                                 13
Smokes (years)                         13
Smokes (packs/year)                    13
Hormonal Contraceptives               108
Hormonal Contraceptives (years)       108
IUD                                   117
IUD (years)                           117
STDs                                  105
STDs (number)                         105
STDs:condylomatosis                   105
STDs:cervical condylomatosis          105
STDs:vaginal condylomatosis           105
STDs:vulvo-perineal condylomatosis    105
STDs:syphilis                         105
STDs:pelvic inflammatory disease      105
STDs:genital herpes                   105
STDs:molluscum contagiosum            105
STDs:AIDS                             105
STDs:HIV                              105
STDs:Hepatitis B                      105
STDs:HPV                              105
STDs: Number of diagnosis               0
STDs: Time since first diagnosis      787
STDs: Time since last diagnosis       787
Dx:Cancer                               0
Dx:CIN                                  0
Dx:HPV                                  0
Dx                                      0
Hinselmann                              0
Schiller                                0
Citology                                0
Biopsy                                  0
dtype: int64

Most of the factors have missing values,

I plan to create new factors so that the information contained between those records with a value and without is not lost. 

Smokes, Hormonal Contraceptives, IUD, and STDs are all boolean factors with missing values. I will change these factors to categorical factors with three values: True, False, Unknown.

For factors that are ordinal (Number of sexual partners, First sexual intercourse, Num of pregnancies) I will create an new boolean factor to identify which records had a value from those that did not, and then replace the missing values with the mean from that factor.

In [11]:
# function to create a new boolean column in a df,
# given a column with int, float, and/or numpy.nan values.

def new_bool(df, col_name):
    bool_list = []
    for index, row in df.iterrows():
#         print(row)
        value = row[col_name]
#         print(value)
        value_out = np.True_
        if pd.isna(value):
            value_out = np.False_
            
#       for testing
#         print("value: {}   -   bool: {}".format(value, str(value_out)))

        bool_list.append(value_out)

    return bool_list

#       for testing
#         print("value: {}   -   bool: {}".format(value, str(row[new_col_name])))

In [12]:
# create new factor 'is_number_partners_known'
df['is_number_partners_known'] = new_bool(df, 'Number of sexual partners')

In [13]:
# check if operation was successful
df['is_number_partners_known'].value_counts()

True     832
False     26
Name: is_number_partners_known, dtype: int64

In [14]:
# create new factor 'is_first_intercourse_known'
df['is_first_intercourse_known'] = new_bool(df, 'First sexual intercourse')

In [15]:
# check if operation was successful
df['is_first_intercourse_known'].value_counts()

True     851
False      7
Name: is_first_intercourse_known, dtype: int64

In [16]:
# create new factor 'is_number_pregnancies_known'
df['is_number_pregnancies_known'] = new_bool(df, 'Num of pregnancies')

In [17]:
# check if operation was successful
df['is_number_pregnancies_known'].value_counts()

True     802
False     56
Name: is_number_pregnancies_known, dtype: int64

In [18]:
# function to replace boolean factors that have missing values with a categorical factor with three values:
# Yes, No, Unknown

def new_categorical(df, col_name):
    values_list = []
    for index, row in df.iterrows():
        value = row[col_name]
        
#         print('original value: {}'.format(value))
        if pd.isna(value):
            value = "Unknown"
        elif value == 1.0:
            value = "Yes"
        else:
            value = "No"
        
#         print('new value: {}'.format(value))
        values_list.append(value)
    
    return values_list

In [19]:
# create new factor 'is_number_pregnancies_known'
df['Smoker'] = new_categorical(df, 'Smokes')

# check if operation was successful
df['Smoker'].value_counts()

No         722
Yes        123
Unknown     13
Name: Smoker, dtype: int64

In [21]:
# create new factor 'uses_hormonal_contraceptives'
df['uses_hormonal_contraceptives'] = new_categorical(df, 'Hormonal Contraceptives')

# check if operation was successful
df['uses_hormonal_contraceptives'].value_counts()

Yes        481
No         269
Unknown    108
Name: uses_hormonal_contraceptives, dtype: int64

In [22]:
# create new factor 'uses_iud'
df['uses_iud'] = new_categorical(df, 'IUD')

# check if operation was successful
df['uses_iud'].value_counts()

No         658
Unknown    117
Yes         83
Name: uses_iud, dtype: int64

In [24]:
# create new factor 'stds_known'
df['stds_known'] = new_categorical(df, 'STDs')

# check if operation was successful
df['stds_known'].value_counts()

No         674
Unknown    105
Yes         79
Name: stds_known, dtype: int64

# Start Here

To Do:

* replace NaN's with mean:
    * Number of sexual partners
    * First sexual intercourse
    * Num of pregnancies
    * Smokes (years)
    * Smokes (packs/year)
    * Hormonal Contraceptives (years)
    * IUD (years)
    * STDs (number)
    * STDs:condylomatosis
    * STDs:cervical condylomatosis
    * STDs:vaginal condylomatosis
    * STDs:vulvo-perineal condylomatosis
    * STDs:syphilis
    * STDs:pelvic inflammatory disease
    * STDs:genital herpes
    * STDs:molluscum contagiosum
    * STDs:AIDS
    * STDs:HIV
    * STDs:Hepatitis B
    * STDs:HPV
    
    
    
* Drop columns:
    * Smokes
    * Hormonal Contraceptives
    * IUD
    * STDs
    * STDs: Time since first diagnosis
    * STDs: Time since last diagnosis

In [ ]:
df.drop['']

In [25]:
df.describe()

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
count,858.000000,832.000000,851.000000,802.000000,845.000000,845.000000,845.000000,750.000000,750.000000,741.000000,...,71.000000,71.000000,858.000000,858.000000,858.000000,858.000000,858.000000,858.000000,858.000000,858.000000
mean,26.820513,2.527644,16.995300,2.275561,0.145562,1.219721,0.453144,0.641333,2.256419,0.112011,...,6.140845,5.816901,0.020979,0.010490,0.020979,0.027972,0.040793,0.086247,0.051282,0.064103
std,8.497948,1.667760,2.803355,1.447414,0.352876,4.089017,2.226610,0.479929,3.764254,0.315593,...,5.895024,5.755271,0.143398,0.101939,0.143398,0.164989,0.197925,0.280892,0.220701,0.245078
min,13.000000,1.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,2.000000,15.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,25.000000,2.000000,17.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.500000,0.000000,...,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,32.000000,3.000000,18.000000,3.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,...,8.000000,7.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,84.000000,28.000000,32.000000,11.000000,1.000000,37.000000,37.000000,1.000000,30.000000,1.000000,...,22.000000,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
for column in df_raw.columns:
    print('Unique values and count in {}'.format(column))
    temp_dict = {}
    
    values_list = df_raw[column].unique()
    print (values_list)
    
#     for value in values_list:
#         count = 0
#         for i, row in df_raw:
#             print(row)
            
            
         
# #             if record[column] == value:
#                 count += 1
#         print('value: {}'.format(value))
#         print('count: {}'.format(count))
#         count = (df_raw[column] == value).count()
#         print (count)
#     pd.Series(pd.value_counts(df_raw[column].values)) 
#     for value in column:

#     values_dict = pd.Series(pd.value_counts(df_raw[column].values))
#     for index, value in values_dict:
#         print (index)
#         print (value)
#     if values_dict['?']:
#         temp = values_dict['?']
#         print(temp)
#     print(values_dict['?'].sum())
#     print(values_dict)
#     print(df_raw[column].unique()
#     print(pd.value_counts(df_raw[column].values))
#     values = df_raw[column].unique()
#     values = values.sort()
#     print (values)